<div fxLayoutAlign="start baseline">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput [formControl]="filterInput">
    <button mat-button matSuffix mat-icon-button *ngIf="filterInput.value"
      aria-label="Clear" (click)="filterInput.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-icon *ngIf="!filterInput.value" matSuffix>filter_list</mat-icon>
  <span fxFlex> </span>
  <button class="addButton" mat-mini-fab (click)="addCustomer()">
    <mat-icon aria-label="Add Customer">add</mat-icon>
  </button>
</div>
<mat-card fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="6px" *ngFor="let Customer of customers$ | async">
  <mat-card-title>{{Customer.firstName}} {{Customer.lastName}}</mat-card-title>
  <mat-card-content>
    <div>Phone: {{Customer.phoneNumber}}</div>
    <div>Email: {{Customer.emailAddress}}</div>
    <div>Contact How? {{Customer.preferredContactMethod}}</div>

  </mat-card-content>
  <mat-card-actions></mat-card-actions>
</mat-card>
